/*---------------------------------------
	SITE: UCBA Media Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

body {
	height: 100vh;
	background: linear-gradient(white, #818181);
	padding: 1rem;
}
	
div.wrapper {
	max-width: 960px;
	margin: 1rem auto;
	border: 2px solid silver;
	box-shadow: 2px 2px 6px black;
	background-color: white;
}

img {
	max-width: 100%;
}


/* HEADER
---------------------------------------*/
	
header {
	background-color: #e8e8e8;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1rem;
	margin-bottom: .5rem;
}

/* ⬇ Contains both the h1 and h2 */
header div.sitename { 

}

header h1 {
	font-size: 220%;
	font-family: 'Comfortaa', cursive;
	margin-bottom: .25rem;
}

/* ⬇ The h1's link */
header h1 a {
	color: black;
	text-decoration: none;
}

header h2 {
	font-family: 'Comfortaa', cursive;
	font-size: 105%;
}



/* MAIN NAVIGATION 
---------------------------------------*/	
/* ⬇ Entire navigation area */
nav.topnav { 
	background-color: #afafaf;
	border-radius: 2rem;
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

nav.topnav li {

}

nav.topnav a {
	padding: 1rem 2rem;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: black; /* ← you can change this */
}

nav.topnav a:hover {
	background-color: ghostwhite; /* ← you can change this */
	border-radius: 2rem;
}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
/* ⬇ Make this a grid container */
main.homepage {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
}

article.blog {
	grid-column: 1/4;
	grid-row: 1/3;
	padding: 1rem;
}
/* ⬇ Headline for the blog */
article.blog h2 { 
	font-family: 'Comfortaa', cursive;
	font-size: 150%;
	border-bottom: 1px solid black;
}
/* ⬇ Text in the blog */
article.blog p { /* ← blog text */
	font-size: 130%;
	line-height: 1.3;
}

/* ⬇ This controls both asides */
main.homepage aside { 
	background-color: #e8e8e8;
	border-radius: 2rem;
	padding: 1rem;
}

/* ⬇ Recent aside */
main.homepage aside.recent {
	grid-column: 4/5;
	grid-row: 1/2;
}

/* ⬇ Links aside*/
main.homepage aside.links {
	grid-column: 4/5;
	grid-row: 2/3;
}

/* ⬇ Headlines at the top of the asides*/
main.homepage aside h3 { 
	font-family: 'Comfortaa', cursive;
	margin-bottom: .5rem;
}

/* ⬇ Unordered list in asides */
main.homepage aside ul { 

}

/* ⬇ List items in the unordered list */
main.homepage aside li { 
	margin: 0 0 .5rem 1rem;
}

/* ⬇ Link text in the asides*/
main.homepage aside li a { 

}

main.homepage aside li a:hover { 

}



/* CAMPUS AREA
---------------------------------------*/
/* ⬇ Section that contains each building section */
section.campus	{
	background-color: #e8e8e8;
	border-radius: 2rem;
	grid-column: 1/5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 1rem;
	padding: 1rem;
}	

/* ⬇ This applies to each building section */
section.campus section { 

}

/* ⬇ Name of each building */
section.campus h3 {
	font-family: 'Comfortaa', cursive;
	font-size: 105%;
}

section.campus figure {

}

/* ⬇ Picture of each building */
section.campus img {
	border: 5px solid ghostwhite; /* ← you can change this */
	box-shadow: 0px 10px 13px -5px #626262; /* ← you can change this */
}

/* ⬇ Caption text under each building */
section.campus figcaption {
	font-size: 80%;
}



/* FOOTER
---------------------------------------*/

footer {
	background-color: #959595;
	padding: 1rem 2rem;
	margin-top: .5rem;
}

footer p { 

}


/* The first part of the assignment is to create a desktop design.
   In a future assignment you'll create media queries below. */

/* TABLET
---------------------------------------*/
@media (max-width: 768px) {
	div.wrapper {
		width: 95%;
	}

	header {
		flex-direction: column;
		text-align: center;
	}

	nav.topnav {
		margin-top: .5rem;
	}

	main.homepage {
		grid-template-columns: 1fr 1fr;
	}

	article.blog {
		grid-column: 1/3;
		grid-row: 1/2;
	}

	main.homepage aside.recent {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	main.homepage aside.links {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	section.campus {
		grid-column: 1/3;
		grid-row: 3/4;
		grid-template-columns: 1fr 1fr 1fr;
	}

	section.campus figure {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 1rem;
		align-items: center;
	}

	article.blog h2 {
		font-size: 165%;
	}

	article.blog p {
		font-size: 135%;
		line-height: 1.4;
	}

	main.homepage aside h3 {
		font-size: 150%;
	}

	main.homepage aside li {
		margin-bottom: 1rem;
	}

	main.homepage aside a {
		display: block;
		padding: .25rem;
	}

	section.campus h3 {
		font-size: 130%;
	}

	section.campus figcaption {
		font-size: 95%;
	}
}



/* PHONE
---------------------------------------*/
@media (max-width: 480px) {
	body {
		padding: 0;
	}

	div.wrapper {
		margin: 0;
		width: 100%;
	}

	header {
		padding: .5rem;
		margin: 0;
	}

	nav.topnav {
		width: 100%;
	}

	nav.topnav ul {
		flex-direction: column;
	}

	nav.topnav a {
		/* display: block; */
		/* width: 100%; */
	}

	main.homepage {
		grid-template-columns: 1fr;
	}

	article.blog {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	main.homepage aside {
		display: none;
	}

	section.campus {
		grid-column: 1/2;
		grid-row: 2/3;
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	section.campus figure {
		grid-template-columns: 1fr 4fr;
	}

	section.campus figcaption {
		font-size: 130%;
	}

}
